<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923201591026-fn7u835kfavi0c12ghcpciah65iok7g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923201591026-fn7u835kfavi0c12ghcpciah65iok7g8</string>
	<key>API_KEY</key>
	<string>AIzaSyC2hit9rVLdUuaOrilZikj5vu88KYDkKaU</string>
	<key>GCM_SENDER_ID</key>
	<string>923201591026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Toph.ATXWecycle</string>
	<key>PROJECT_ID</key>
	<string>atxwecycle-6ef6d</string>
	<key>STORAGE_BUCKET</key>
	<string>atxwecycle-6ef6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923201591026:ios:8a6ab7be8739db05</string>
	<key>DATABASE_URL</key>
	<string>https://atxwecycle-6ef6d.firebaseio.com</string>
</dict>
</plist>
